body {
  font-size: 20px;
}

.imm__video {
  box-shadow: 0 0.5rem 1rem rgba(190, 20, 27, 0.15) !important;
}

#action-words-table td {
  vertical-align: middle;
  font-size: 15px;
}

#checkmark-image {
  box-shadow: 0 0.5rem 1rem rgba(190, 20, 27, 0.15) !important;
}

.h2-font-spacing {
  letter-spacing: 3px;
  font-size: 40px;
}

#wrapper {
  height: 100%;
  width: 100%;
  background-image: url('/public/images/imm-stack.JPG');
  background-size: 100%;
  background-position: fixed;
}
