body {
  font-size: 20px;
}

#button-red {
  color: 0 0.25rem 1rem rgba(190, 20, 27, 0.1);
}

.imm__video {
  box-shadow: 0 0.5rem 1rem rgba(190, 20, 27, 0.15) !important;
}

#action-words-table td {
  vertical-align: middle;
  font-size: 15px;
}

#checkmark-image {
  box-shadow: 0 0.5rem 1rem rgba(190, 20, 27, 0.15) !important;
}

.h2-font-spacing {
  letter-spacing: 3px;
  font-size: 40px;
}

@media (min-width: 960px) {
  #container {
    width: 930px;
  }
}

@media (max-width: 769px) {
  .h2-font-spacing {
    letter-spacing: 1px;
    font-size: 34px;
  }
}

@media (max-width: 614px) {
  img .card-img {
    /* height: 700px; */
  }
}
