.home__video {
  box-shadow: 0 0.5rem 1rem $dark-red-shadow;
}

.home__action-words-table td {
  vertical-align: middle;
  font-size: 15px;
}

.home__h2-font-spacing {
  letter-spacing: 3px;
  font-size: 40px;
}

.home__dark-red {
  color: $dark-red-text;
}

.home__ul {
  li {
    margin: 0;
    padding: 20px 0 20px 50px;
    list-style: none;
    background-image: url('/images/checkmark-30px.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 35px;
  }
}

@media (max-width: 767px) {
  .home__list-table-single-col {
    margin-top: -22.5px;
  }

  .home__h2-font-spacing {
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 30px;
  }
}
