.home__video {
  box-shadow: 0 0.5rem 1rem $dark-red-shadow;
}

.home__action-words-table td {
  vertical-align: middle;
  font-size: 15px;
}

.home__h2-font-spacing {
  letter-spacing: 3px;
  font-size: 40px;
}

.home__dark-red {
  color: $dark-red-text;
}

.home__ul {
  li {
    margin: 0;
    padding: 20px 0 20px 50px;
    list-style: none;
    background-image: url('/images/checkmark-30px.webp');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 35px;
  }
}

.home__container-shadow {
  box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
}

.home__button-red-bg {
  border: solid 2px #be141b;
  box-shadow: 0 -3px 1rem #be141b inset;
  color: #be141b;
}

.home__button-red-bg:hover {
  border: solid 2px #be141b;
  box-shadow: 0 3px 1rem #be141b inset;
  color: #be141b;
}

@media (max-width: 767px) {
  .home__list-table-single-col {
    margin-top: -22.5px;
  }

  .home__h2-font-spacing {
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 30px;
  }

  .home__gif-size {
    height: 600px;
  }
}

@media (min-width: 767px) {
  .home__large-bubble-image {
    max-width: 528px;
    max-height: 294.31px;
  }

  .home__thinking-man-image {
    max-width: 444px;
    max-height: 751.52px;
  }

  .home__gif-size {
    height: 700px;
  }
}
