select:hover {
  cursor: pointer;
}

.card-red-hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.card-red-hover:hover {
  box-shadow: 0 0.5rem 1rem rgba(190, 20, 27, 0.15) !important;
}

/* li.font-italic > h3 {
  opacity: 0.5;
  color: rgb(190, 20, 27);
} */
